[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
ipdb = "*"

[packages]
tensorflow = "*"
matplotlib = "*"
pillow = "*"
numpy = "*"
scikit-image = "*"
pandas = "*"
scikit-learn = "*"

[requires]
python_version = "3.6.4"

[pipenv]
allow_prereleases = true
